body{
    background-color: rgb(83, 82, 82);
}
header{
    background-color: rgb(174, 181, 187);
}
title {
    color: white;
} 
h1 {
    color: rgb(211, 211, 211);
}
h2 {
    color: azure;
}
h3 {
    color: cornsilk;
}
p {
    color: rgb(224, 228, 225);

}
li{
    color: whitesmoke;
}
table, td, th {
    border: 2px solid white;
}
td {
    color: white;
}
th {
    color: white;
}